.comments > * {
  width: 100%;
  font-size: 70px;
  font-family: helvetica, sans-serif;
  padding: 50px 0;
  text-align: center;
  background-color: none;
  margin-top: 20px;
  display: none;
}

body.answer_yes .comment_yes {
  display: block;
}
body.answer_no .comment_no {
  display: block;
}
