

body {
  font-family: helvetica, sans-serif;
  background-color: #000000;
  background-image: url('https://cdn.glitch.global/5aeb406b-ce0b-49fb-b224-5e5d43e221d4/ezgif.com-gif-maker%20(1).gif?v=1648802377805');
  background-size: 250vh;
  background-repeat: no-repeat;
  height: 100%;
  padding:0;
  margin:0;
}


.countdown{
  text-align: center;
  line-height: 15vh;
}

.countdown-content{
  font-family: Helvetica, sans-serif;
  color:#FCF937;
  font-weight: bold;
  font-size: 3rem;
  gap: 3em;
  text-align: center;
  line-height: 80%;
  width: auto;
 


  }

  .title {
  color: #FFFFFF;
  font-family: Helvetica, sans-serif;
  font-style: normal;
  font-weight: thin;
  font-size: 1rem;
  line-height: 70%;
  margin: 4vh;
 
}
.title2 {
  color: #FFFFFF;
  font-family: Helvetica, sans-serif;
  font-weight: thin;
  font-size: 1.5rem;
  line-height: 105%;
  margin: 1;
  text-align: center;
  gap: 4em;
  padding: 2em;
  margin-top: 20whpx;
  margin-bottom: -50px;
}


button,
input {
  font-family: inherit;
  font-size: 100%;
  background: none;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  transition: 500ms;
}
